<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxzVILVO4u7YTcTMtApAr9O_tkzk9Bee4</string>
	<key>GCM_SENDER_ID</key>
	<string>905822023549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>messenger.dev</string>
	<key>PROJECT_ID</key>
	<string>messenger-ios-102f4</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ios-102f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905822023549:ios:958f52f88d358e6fefe614</string>
</dict>
</plist>